// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
	margin-bottom: 30px;
}

table {
	table-layout:fixed; 
	width: 80%;
	padding-top: 60px;
	}

th, td {
	padding-left: 30px;
	overflow:hidden;
	width:20px; 
  	word-wrap:break-word;
}

.add-new-product {
	padding-left: 30px;
}

.product-information {
	padding-left: 30px;
}





