// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

th {
	padding-left: 10px;
}

.add-new-product {
	padding-left: 10px;
}

#show {
	padding-left: 10px;
}

#edit {
	padding-left: 10px;
}

#destroy {
	padding-left: 10px;
}

.product-information {
	padding-left: 30px;
}