// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
	margin-bottom: 30px;
}

.products-heading {
	font-weight: bold;
}

.rows {
	clear: left;
}

.col-md-2, .col-md-4 {
	padding-top: 10px;
	word-break: break-all;
}

.product-action {
	padding-left: 10px;
}

.add-new-product {
	padding-left: 30px;
}

.product-information, .product-review {
	padding-left: 30px;
}

.form {
	padding-left: 30px;
	width: 30%;
}

/* Show page */

.product-name-show, .product-description, .product-color, .product-price, .product-rating {
	padding-bottom: 20px;
	padding-left: 30px;
}

.product-name-show {
	padding-top: 30px;
}

.row {
	margin: 0;
}

#comment_body {
	margin: 0;
}


